<!-- Start Header -->
<header class="header axil-header header-style-2 header-style-6">
    <!-- Start Header Top Area  -->
    <div class="axil-header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-sm-3 col-5">
                    <div class="header-brand">
                        <a href="index.html" class="logo logo-dark">
                            <img src="assets/images/logo/logo.png" alt="Site Logo">
                        </a>
                        <a href="index.html" class="logo logo-light">
                            <img src="assets/images/logo/logo-light.png" alt="Site Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-9 col-7">
                    <div class="header-top-dropdown dropdown-box-style">
                        <div class="axil-search">
                            <button type="submit" class="icon wooc-btn-search">
                                <i class="far fa-search"></i>
                            </button>
                            <input type="search" class="placeholder product-search-input" name="search2" id="search2"
                                value="" maxlength="128" placeholder="What are you looking for...." autocomplete="off">
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                USD
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">USD</a></li>
                                <li><a class="dropdown-item" href="#">AUD</a></li>
                                <li><a class="dropdown-item" href="#">EUR</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                EN
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">EN</a></li>
                                <li><a class="dropdown-item" href="#">ARB</a></li>
                                <li><a class="dropdown-item" href="#">SPN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area  -->

    <!-- Start Mainmenu Area  -->

    <!-- End Mainmenu Area  -->
</header>


<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
    <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
    <div class="header-search-wrap">
        <div class="card-header">
            <form action="#">
                <div class="input-group">
                    <input type="search" class="form-control" [(ngModel)]="search_product"
                        (keyup.enter)="searchProduct()" name="prod-search" id="prod-search" #filter
                        placeholder="Write Something....">
                    <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="search-result-header">
                <h6 class="title">{{ products_search.length }} Result Found</h6>
                <a href="shop.html" class="view-all">View All</a>
            </div>
            <div class="psearch-results">
                <ng-container *ngFor="let product of products_search">
                    <div class="axil-product-list">
                        <div class="thumbnail">
                            <a [routerLink]="[ '/landing-producto/', product.slug ]"
                                [queryParams]="getRouterDiscount(product)">
                                <img [src]="product.imagen" width="120px" alt="Yantiti Leather Bags">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                <span class="rating-icon">
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 1}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 2}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 3}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 4}"></i>
                                    <i class="fas fa-star" [ngClass]="{'start-del': product.avg_review < 5}"></i>
                                </span>
                                <span class="rating-number"><span>{{ product.count_review }}+</span> Reviews</span>
                            </div>
                            <h6 class="product-title"><a [routerLink]="[ '/landing-producto/', product.slug ]"
                                    [queryParams]="getRouterDiscount(product)">{{ product.title }}</a></h6>
                            <div class="product-price-variant">
                                <span class="price old-price" *ngIf="product.campaing_discount">{{ product.price_usd }}
                                    USD</span>
                                <span class="price current-price">{{ product.price_usd - getDiscountProduct(product) }}
                                    USD</span>
                            </div>
                            <div class="product-cart">
                                <a href="cart.html" class="cart-btn"><i class="fal fa-shopping-cart"></i></a>
                                <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>


            </div>
        </div>
    </div>
</div>
<!-- Header Search Modal End -->



<div class="cart-dropdown" id="cart-dropdown">
    <div class="cart-content-wrap">
        <div class="cart-header">
            <h2 class="header-title">Cart review</h2>
            <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
        </div>
        <div class="cart-body">
            <ul class="cart-item-list">
                <ng-container *ngFor="let cart of listCarts">
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product.html"><img [src]="cart.product.imagen" alt="Commodo Blown Lamp"></a>
                            <button class="close-btn" (click)="removeCart(cart)"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number">(64)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product-3.html">{{ cart.product.title }}</a></h3>
                            <span *ngIf="cart.variedad"><small>VARIEDAD: {{ cart.variedad.valor }}</small></span>
                            <div class="item-price"><span class="currency-symbol"></span>{{ cart.total }} USD</div>
                            <div class="pro-qty item-quantity">
                                <input type="number" class="quantity-input" [value]="cart.cantidad">
                            </div>
                        </div>
                    </li>
                </ng-container>

            </ul>
        </div>
        <div class="cart-footer">
            <h3 class="cart-subtotal">
                <span class="subtotal-title">Subtotal:</span>
                <span class="subtotal-amount">{{ totalCarts }} USD</span>
            </h3>
            <div class="group-btn">
                <a routerLink="/lista-de-carritos" class="axil-btn btn-bg-primary viewcart-btn">View Cart</a>
                <a routerLink="/proceso-de-pago" class="axil-btn btn-bg-secondary checkout-btn">Checkout</a>
            </div>
        </div>
    </div>
</div>